version: "3.9"

services:
  postgres:
    build: .
    container_name: ${PG_CONTAINER_NAME:-chat-app-aca-default}
    restart: unless-stopped
    
    ports:
      - "${PG_PORT:-5432}:5432"
    
    environment:
      APP_ENVIRONMENT: ${APP_ENVIRONMENT:-development}
      DEBUG: ${DEBUG:-false}
      
      PG_CONTAINER_NAME: ${PG_CONTAINER_NAME:-chat-app-aca-default}
      PG_PORT: ${PG_PORT:-5432}
      
      POSTGRES_USER: ${PG_ROOT_USER:-postgres}
      POSTGRES_PASSWORD: ${PG_ROOT_PASSWORD:-postgres}
      POSTGRES_DB: ${PG_DB_NAME:-chat_app_aca}
      
      APP_DB_USER: ${PG_APP_USER:-appuser}
      APP_DB_PASSWORD: ${PG_APP_PASSWORD:-apppassword}
    
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata: